.grid_container{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 50px 2fr 50px;
    grid-template-rows: 0.1fr minmax(580px, 8fr) 0.1fr;
    grid-template-areas: 
    "r1 r1 r1"
    "c1 main c2"
    "r2 r2 r2";
}

main{
    display: flex;
    flex-flow: column nowrap;
    /* background-color: rgb(165, 42, 42); */
    min-width: 90%;
}

section{
    height: 350px;
}

.section1{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
}

.section3{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
}